<footer class="p-8 bg-yellow-300 border-t-2 border-white">
    <div class="flex flex-col items-center justify-center">
        <div class="flex md:w-full flex-col md:flex-row flex-wrap max-w-4xl justify-between">
            <div class="">
                <div class="heading font-bold text-3xl my-6">CityLeaf Farms</div>
            </div>
            <div class="px-4 flex justify-center items-center">
                <ul class="flex flex-col md:flex-row gap-6 font-semibold">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#about">About Us</a></li>
                    <li><a href="/products">Our Products</a></li>
                    <li><a href="/workshop">Workshop</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </div>
        </div>
        <!-- contact details -->
        <div class="w-full bg-yellow-500 flex flex-col justify-around max-w-6xl flex-grow md:flex-row md:items-center my-8 rounded-3xl">
            <div class="p-6">
                <i class="fa-solid fa-envelope"></i>
                <a target="_blank" href="mailto:ankit123jangid345@gmail.com" class=""><span class=""> ankit123jangid345@gmail.com</span></a>
            </div>
            <div class="p-6">
                <i class="fa-solid fa-phone"></i>
                <a target="_blank" href="tel:+91 8003928557" class=""><span> +91 8003928557</span></a>
            </div>
            <div class="p-6">
                <i class="fa-solid fa-location-dot"></i>
                <a target="_blank" href="https://maps.app.goo.gl/rJu7B5ZPKDos8uFBA" class=""><span class=""> IIIT Kota, Rajasthan</span></a>
            </div>
        </div>
        <!-- copyright details -->
        <div class=""><span>Copyright &copy; <%= new Date().getFullYear() %>, CityLeaf Farms | All rights reserved.</span></div>
    </div>
</footer>