<header class="z-20 bg-yellow-500">
    <nav class="w-full box-border flex justify-center">
        <div class="flex w-full justify-between items-center border-white border-b-2 p-6 lg:px-10">
            <!-- logo -->
            <div id="logo" class="text-4xl font-bold">
                <a href="/">CityLeaf Farms</a>
            </div>
            <!-- navigation menu -->
            <div class="hidden lg:block font-bold text-lg" id="menu">
                <ul class="flex gap-8 list-none flex-col lg:flex-row p-8 items-center lg:items-start lg:p-0">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#about">About Us</a></li>
                    <li><a href="/products">Our Products</a></li>
                    <li><a href="/workshop">Workshop</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </div>
            <!-- navigation bar for mobile screen -->
            <div class="text-3xl block lg:hidden" onclick="showHeader()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>
</header>