<section class="main w-full content-center bg-center" id="main" style="background-image: url('/images/background-home-page.webp');">
    <div class="flex justify-center items-center min-h-[90vh]">
        <div class="text-white font-semibold">
            <div class="text-6xl text-center">Grow your own food</div>
            <div class="text-lg text-center">CityLeaf Farms systems let you easily grow your own fresh, nutrient-rich food without soil.</div>
        </div>
    </div>
</section>

<section class="w-full content-center">
    <div class="text-4xl text-center my-8 font-bold text-wrap">Our Key Resources/Services</div>
    <div class="content-center p-8 flex flex-grow w-full justify-around flex-wrap gap-8">
        <div class="max-w-72">
            <div
                class="rounded-full min-h-60 min-w-60 aspect-square overflow-hidden object-cover shadow-black shadow-xl hover:scale-90 ">
                <img src="/images/physical-assets.png" alt="Physical Assets">
            </div>
            <div class="text-xl font-bold min-w-60 max-w-72 text-center p-6">Physical Assets</div>
        </div>
        <div class="max-w-72">
            <div
                class="rounded-full min-h-60 min-w-60 aspect-square overflow-hidden object-cover shadow-black shadow-xl hover:scale-90 ">
                <img src="/images/human-capital.png" alt="Human Capital">
            </div>
            <div class="text-xl font-bold min-w-60 max-w-72 text-center p-6">Human Capital</div>
        </div>
        <div class="max-w-72">
            <div
                class="rounded-full min-h-60 min-w-60 aspect-square overflow-hidden object-cover shadow-black shadow-xl hover:scale-90 ">
                <img src="/images/community-gardening.jpg" alt="Community Gardening">
            </div>
            <div class="text-xl font-bold min-w-60 max-w-72 text-center p-6">Community Gardening</div>
        </div>
        <div class="max-w-72">
            <div
                class="rounded-full min-h-60 min-w-60 aspect-square overflow-hidden object-cover shadow-black shadow-xl hover:scale-90 ">
                <img src="/images/herb-garden.jpg" alt="Herb Garden">
            </div>
            <div class="text-xl font-bold min-w-60 max-w-72 text-center p-6">Herb Garden</div>
        </div>
        <div class="max-w-72">
            <div
                class="rounded-full min-h-60 min-w-60 aspect-square overflow-hidden object-cover shadow-black shadow-xl hover:scale-90 ">
                <img src="/images/educational-workshop.jpg" alt="Educational Workshop">
            </div>
            <div class="text-xl font-bold min-w-60 max-w-72 text-center p-6">Educational Workshop</div>
        </div>
    </div>
</section>

<section class="">
    <video class="w-full" src="https://cdn.shopify.com/videos/c/o/v/d3ce8d647a714ed4b03f7c336947fb31.mp4" autoplay="" playsinline="" muted="" loop=""></video>
    <div class="w-full content-center p-8 text-center bg-yellow-500">
        <span class="">How does it work?</span>
        <h2 class="text-3xl font-bold">Just 3 easy steps</h2>
        <div class="flex flex-wrap justify-around items-center gap-8 p-8">
            <div class="steps__item">
                <img class="steps__img" src="//ingarden.com/cdn/shop/files/step1_300x.png?v=1651743584" alt=""
                    loading="lazy" width="260" height="100">
                <div class="steps__caption rte">
                    <p><strong>1. Place</strong> three pads</p>
                </div>
            </div>
            <div class="steps__item">
                <img class="steps__img" src="//ingarden.com/cdn/shop/files/step2_300x.png?v=1651743584" alt="" loading="lazy" width="260" height="100">
                <div class="steps__caption rte">
                    <p><strong>2. Pour </strong>water</p>
                </div>
            </div>
            <div class="steps__item">
                <img class="steps__img" src="//ingarden.com/cdn/shop/files/step3_300x.png?v=1651743584" alt=""
                    loading="lazy" width="260" height="100">
                <div class="steps__caption rte">
                    <p><strong>3. Hold </strong>timer button for 3 seconds</p>
                </div>
            </div>
            <div class="steps__item">
                <img class="steps__img" src="//ingarden.com/cdn/shop/files/step4_300x.png?v=1651743584" alt=""
                    loading="lazy" width="260" height="100">
                <div class="steps__caption rte">
                    <p><strong>Enjoy </strong>in 7 days</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w-full flex justify-center">
    <div class="p-10 flex flex-col justify-center items-center backdrop-blur-md w-full max-w-[1000px]">
        <div class="text-3xl font-bold m-4">Any Questions?</div>
        <div class="w-full question-container">
            <div class="question mb-2 rounded-lg" onclick="showQuestion(0)">Q1: Does it make sense to switch on the grow light only after germination?</div>
            <div class="answer hidden mb-2 rounded-lg"><p>Ans: Whether it makes sense to switch on the light after the seeds have germinated depends on the type of seed. Some of our seeds need light to germinate, while others can germinate in the dark.</p>
                <p>For some microgreen varieties, such as radish, arugula or mustard, it is advisable to turn on the light only after germination. These seeds usually require a cool and dark environment to germinate successfully.</p>                
                <p>Other microgreen varieties such as broccoli, kale, red cabbage, or pak choi need light to germinate and should be illuminated from the start.</p></div>
        </div>
        <div class="w-full question-container">
            <div class="question mb-2 rounded-lg" onclick="showQuestion(1)">Q2: How often should I clean my ingarden and is it dishwasher-safe?</div>
            <div class="answer hidden mb-2 rounded-lg"><p>Ans: Cleaning your ingarden once a month ensures great microgreen quality and that you won’t run into the risk of unwanted odor. The ceramic bowl, trays, wick holders, tray holders, and wicks are dishwasher safe (max. 55 °C/131 °F temperature).</p></div>
        </div>
        <div class="w-full question-container">
            <div class="question mb-2 rounded-lg" onclick="showQuestion(2)">Q3: What type of water should I use for my ingarden?</div>
            <div class="answer hidden mb-2 rounded-lg"><p>Ans: Tap water works great in your ingarden unless your tap water contains large amounts of chloramine used to purify it. You may also use distilled or spring water.</p></div>
        </div>
        <div class="w-full question-container">
            <div class="question mb-2 rounded-lg" onclick="showQuestion(3)">Q4: How and when do I have to replace my ingarden pads? What do I do with the old pads?</div>
            <div class="answer hidden mb-2 rounded-lg"><p>Ans: As soon as your growth cycle is complete after an average of 5-7 days and you have harvested all your microgreens, you can start growing new microgreens immediately. Simply compost your used pads (or dispose of them in the organic waste), place new pads on top and water them completely until the new pads are soaked.</p></div>
        </div>
        <div class="w-full question-container">
            <div class="question mb-2 rounded-lg" onclick="showQuestion(4)">Q5: What are the optimum indoor temperatures for growth?</div>
            <div class="answer hidden mb-2 rounded-lg"><p>Ans: Depending on the type of microgreens, the optimal temperature for growth is between 15 and 22 °C (60 - 75 °F). Microgreens love an even temperature; that's when they develop the fastest. At higher temperatures, bacteria and fungus can flourish while your seedlings dry out faster. At lower temperatures, the plants can absorb less water and develop more slowly, and you could have problems with mold.</p></div>
        </div>
        <div class="w-full question-container">
            <div class="question mb-2 rounded-lg" onclick="showQuestion(5)">Q6: Can I store my seed pads outside of their box? How about in a clear container?</div>
            <div class="answer hidden mb-2 rounded-lg"><p>Ans: ingarden seeds are best kept in a cool, dry, and dark environment. Our refill packs are designed for their optimal storage, ensuring they get no light. This helps protect the seeds from excessive light exposure, unwanted moisture, or heat damage, which could negatively impact their yield growth. If you have thrown out the packaging, just ensure they are in a sealed container and with no moisture or light exposure.</p></div>
        </div>
    </div>
</section>

<section class="w-full bg-yellow-500 content-center text-center p-2 md:p-8" id="about">
    <div class="text-4xl font-bold">Our Team</div>
    <div class="flex justify-center items-center gap-8 flex-wrap p-8">
        <div class="max-w-80">
            <img class="rounded-3xl border-2 shadow-inner" src="/team/ankit-jangid.png" alt="Ankit Jangid | Co-Founder">
            <span class="text-lg font-bold">Ankit Jangid | Co-Founder</span>
        </div>
        <div class="max-w-80">
            <img class="rounded-3xl border-2 shadow-inner" src="/team/naman-goyal.jpg" alt="Naman Goyal | Co-Founder">
            <span class="text-lg font-bold">Naman Goyal | Co-Founder</span>
        </div>
        <div class="max-w-80">
            <img class="rounded-3xl border-2 shadow-inner" src="/team/ankit-kumar-vijay.jpg" alt="Ankit Kumar Vijay | Marketing Head">
            <span class="text-lg font-bold">Ankit Kumar Vijay | Marketing Head</span>
        </div>
        <div class="max-w-80">
            <img class="rounded-3xl border-2 shadow-inner" src="/team/shubham-singh.jpg" alt="Shubham Singh | PR Head">
            <span class="text-lg font-bold">Shubham Singh | PR Head</span>
        </div>
    </div>
</section>