<section id="workshop" class="p-8 w-full bg-center bg-cover" style="background-image: url(/images/background-workshop-page.webp);">
    <div class="backdrop-blur-xl p-2 md:p-8 text-black">
        <div class="flex justify-center text-5xl font-bold p-10">Workshop</div>
        <div class="my-6 md:grid md:grid-cols-2 md:gap-8">
            <div class="p-8 rounded-3xl overflow-hidden"><img src="/images/workshop.jpeg" alt="Cyber Security Workshop" width="100%" height="100%"></div>
            <div class="my-4 p-8">
                <div class="text-4xl font-bold">Overview</div>
                <div class="my-2 text-2xl font-semibold">
                    <p>Join us for an immersive Urban Farming Workshop where city meets sustainability. Our hands-on sessions are designed to empower urban dwellers with the skills and knowledge to transform their balconies, rooftops, and small yards into thriving green spaces.</p>
                </div>
            </div>
            <div class="my-4 col-span-2 border border-black p-2 md:p-8 rounded-2xl">
                <div class="text-4xl font-bold text-center">What You’ll Learn?</div>
                <div class="m-1 pl-6 text-2xl font-semibold">
                    <ul class="list-disc">
                        <li>Fundamentals of Urban Agriculture: Dive into the basics of soil composition, plant selection, and organic gardening practices tailored for urban environments.</li>
                        <li>Space-Efficient Techniques: Discover how to maximize yield in limited spaces through vertical gardens, rooftop farming, and container gardening.</li>
                        <li>Sustainable Practices: Explore composting, water conservation, and natural pest control to create a thriving garden ecosystem.</li>
                        <li>Community Engagement: Learn how urban farming can strengthen community bonds and provide fresh, local produce to urban dwellers.</li>
                    </ul>
                </div>
            </div>
            <div class="my-4 flex col-span-2 justify-center"><a class="border text-2xl font-bold p-4 px-6 rounded-2xl bg-yellow-500 hover:bg-transparent" href="/contact">Contact Us</a></div>
        </div>
    </div>
</section>